<!DOCTYPE html>
<html>
  <%- include('./shared/head')%>
  <body>
    <%- include('./shared/header')%>
    <h1><%= nombrePag %></h1>
    <p>Welcome to <%= nombrePag %></p>
    <%- include('./shared/footer')%>
  </body>
</html>
