<!DOCTYPE html>
<html>
  <%- include('./shared/head')%>
  <body>
    <%- include('./shared/header')%>
    
    <main>
<h1>Mi perfil</h1>


<% if (typeof success !== 'undefined') { %>
  <div class="containerMensaje">
    <% if (success) { %>
      <span class="success">El perfil se actualizó correctamente</span>
    <% } else { %>
      <span class="error">Hubo un error al actualizar el perfil</span>
    <% } %>
  </div>
<% } %>

      <form class="formEditarPerfil" action="/usuario/perfil?_method=PUT" method="post" novalidate enctype="multipart/form-data">
        <section class="avatarUsuarioContainer">
        <div class="avatarUsuario">
          <img src="<%- sesion.avatar ? `/uploads/${sesion.avatar}` : '/images/fotoEnBlanco.png' %>" alt="Avatar usuario">
        </div> 
        <input class='inputEditable' type="file" name="subirAvatar" disabled>
      </section>

        <label for="nombre">Nombre:</label>
        <input class='inputEditable' type="text" name="nombre" value="<%-sesion.nombre%>" placeholder="<%-sesion.nombre%>" disabled> 
 

        <label for="usuario">Nombre de usuario</label>
        <input class='inputEditable' type="text" name="usuario" value="<%-sesion.usuario%>" placeholder="<%-sesion.usuario%>" disabled>


      <label for="mail">Email</label>
      <input type="text" name="mail" value="<%-sesion.mail%>" placeholder="<%-sesion.mail%>" disabled> 

        <input type="button" class="botonEditar" value="Editar">
        <input type="submit" class="botonGuardarCambios invisible" value="Guardar" >

      </form>

      <form class="formCambiarContraseña" action="/usuario/cambiarContraseña?_method=PUT" method="post">
        <label for="pass1">Contraseña actual:</label>
        <input type="password" id="pass1" name="pass1">

        <label for="pass2">Nueva contraseña:</label>
        <input type="password" id="pass2" name="pass2">

        <input type="submit" value="Cambiar">
        <button class="botonCancelarCambio">Cancelar</button>
      </form>
      <button class="botonCambiarContraseña">Cambiar contraseña</button>
      
        <button class="botonEliminar">Eliminar cuenta</button> 
        
    </main>
    <%- include('./shared/footer')%>

    <section class="modal invisible">
      <div class="modalContainer">
        <h2>¿Seguro que quieres eliminar tu cuenta?</h2>
        <p>Esta acción es irreversible</p>
        <div class="modalBotonesContainer">
        <form class="formEliminarCuenta" action="/usuario/perfil/eliminar?_method=DELETE" method="post" >
          <button type="submit" class="botonConfirmarEliminar">Confirmar</button>
        </form>
          
          <button class="botonCancelarEliminar">Cancelar</button>
        </div>
       
      </div>
    </section>

    <%- include('./shared/scripts')%>
    <script src="/javascripts/editarPerfilUsuario.js"></script>
  </body>
</html>