<!DOCTYPE html>
<html>
  <%- include('./shared/head')%>
  <body>
    <%- include('./shared/header')%>
    
    <main>
<h1><%-nombrePag%></h1>

<%if(recetas.length > 0) { %>
<a href="/usuario/recetas/agregar">Agregar receta</a>
<section class="recetasContainer">
<% for (let receta of recetas) { %>
<article class="receta" id="<%- receta.id %>">
<div>
  <img src="<%- receta.url_imagen ? `/uploads/${receta.url_imagen}` : 'https://theme-assets.getbento.com/sensei/fbd08bb.sensei/assets/images/catering-item-placeholder-704x520.png' %>" alt="<%-receta.titulo %>">
</div>
<div class="textoReceta">
<h2><%- receta.titulo %></h2>
</div>
<div class="contenedorBotones">
  <a href="/usuario/recetas/editar/<%- receta.id %>">Editar</a>
  <form action="/usuario/recetas/eliminar/<%= receta.id%>?_method=DELETE" method="POST">
    
    <button class="eliminarReceta">Eliminar</button>
  </form>

</div>
</article>
<%}%>
<%}  else { %>
  <section>
    <h2>No tienes recetas publicadas</h2>
    <p>Agrega tus recetas favoritas</p>
    <a href="/usuario/recetas/agregar">Agregar receta</a>
  </section>
  <%}%>
</section>

<%- include('./shared/scripts')%>
    <script src="/javascripts/editarEliminarRecetas.js"></script>
  </body>
</html>