<!DOCTYPE html>
<html lang="es">
<%-include('./shared/head')%>
<body>
  <%-include('./shared/header')%>

  <main class="registerMainContainer">
    <h1>Registrate</h1>
    <form action="/register" method="post" novalidate>
      <label for="nombre">Nombre:</label>
      <input type="text" name="nombre">
      <% if(resultadosVal.find(el => el.path === 'nombre')) { %>
        <% for(let error of resultadosVal) { %>
          <% if(error.path === 'nombre') { %>
            <span class="formLabelError"><%- error.msg %></span>
          <% } %>
        <% } %>
      <% } %>

      <label for="nombreUsuario">Nombre de usuario:</label>
      <input type="text" name="nombreUsuario">
      <% if(resultadosVal.find(el => el.path === 'nombreUsuario')) { %>
        <% for(let error of resultadosVal) { %>
          <% if(error.path === 'nombreUsuario') { %>
            <span class="formLabelError"><%- error.msg %></span>
          <% } %>
        <% } %>
      <% } %>

      <label for="email">Email:</label>
      <input type="email" name="email">
      <% if(resultadosVal.find(el => el.path === 'email')) { %>
        <% for(let error of resultadosVal) { %>
          <% if(error.path === 'email') { %>
            <span class="formLabelError"><%- error.msg %></span>
          <% } %>
        <% } %>
      <% } %>

      <label for="contraseña">Contraseña:</label>
      <input type="password" name="contraseña">
      <% if(resultadosVal.find(el => el.path === 'contraseña')) { %>
        <% for(let error of resultadosVal) { %>
          <% if(error.path === 'contraseña') { %>
            <span class="formLabelError"><%- error.msg %></span>
          <% } %>
        <% } %>
      <% } %>

      <label for="contraseña2">Repetir Contraseña</label>
      <input type="password" name="contraseña2">
      <% if(resultadosVal.find(el => el.path === 'contraseña2')) { %>
        <% for(let error of resultadosVal) { %>
          <% if(error.path === 'contraseña2') { %>
            <span class="formLabelError"><%- error.msg %></span>
          <% } %>
        <% } %>
      <% } %>

      <button type="submit">Registrarse</button>
    </form>

   
  </main>

  <%-include('./shared/footer')%> 
</body>
</html>