<!DOCTYPE html>
<html>
  <%- include('./shared/head')%>
  <body>
    <%- include('./shared/header')%>
    
    <main>
<h1><%- nombrePag %></h1>
<a href="/recetas">Volver</a>
<section class="detalleUsuario">
  <div class="imagenUsuario">
    <img src="<%- receta.url_avatar || '/images/fotoEnBlanco.png' %>" alt="Avatar usuario" >
  </div>
  <div class="datosUsuario">
    <p>Creado por <%- receta.usuario %> el <%- receta.createdAt%> </p>
  </div>
</section>
<section class="vistaDetallada">
  <div>
    <img src="<%- receta.url_imagen || 'https://theme-assets.getbento.com/sensei/fbd08bb.sensei/assets/images/catering-item-placeholder-704x520.png' %>" alt="receta.titulo">
    </div>
  </div>
  <article>
    <pre><%- receta.pasos %></pre>
  </article>
</section>
   
    </main>
    <%- include('./shared/footer')%>
  </body>
</html>